interface eth0
{
        AdvSendAdvert on;

#
# new EUI-64 prefixes (valid when radvd is compiled with --enable-eui-64 (which
# is the default))
#
        prefix 3ffe:0302:0011:0002::0/64
	{
                AdvOnLink on;
                AdvAutonomous on;
        };

#
# old 80-bit prefixes (valid when radvd is compiled with --disable-eui-64)
#
#	prefix 5f04:f900:c2dd:1400:8000::0/80
#	{
#                AdvOnLink on;
#                AdvAutonomous on;
#       };

};
