#
# NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE 
# NOTE							     NOTE
# NOTE  This is an EXAMPLE, which serves only to demonstrate the   NOTE
# NOTE  syntax of radvd.conf, and is not meant to be used for a    NOTE
# NOTE  real radvd configuration.				  NOTE
# NOTE							     NOTE
# NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE NOTE 
#

interface eth0
{
	AdvSendAdvert on;

# This may be needed on some interfaces which are not active when
# radvd starts, but become available later on; see man page for details.

	# IgnoreIfMissing on;

#
# These settings cause advertisements to be sent every 3-10 seconds.  This
# range is good for 6to4 with a dynamic IPv4 address, but can be greatly
# increased when not using 6to4 prefixes.
#

	MinRtrAdvInterval 3;
	MaxRtrAdvInterval 10;

#
# You can use AdvDefaultPreference setting to advertise the preference of
# the router for the purposes of default router determination.
# NOTE: This feature is still being specified and is not widely supported!
#
	AdvDefaultPreference low;

#
# Disable Mobile IPv6 support
#
	AdvHomeAgentFlag off;

#
# example of a prefix
#
	prefix 2001:db8:1:0::/64
	{
		AdvOnLink on;
		AdvAutonomous on;
		AdvRouterAddr off;
	};

#
# example of a more specific route
# NOTE: This feature is not very widely supported! You may also need to
# enable it manually (e.g. on Linux, change the value of
# sysctl accept_ra_rt_info_max_plen to 48 or 64)
#
	route 2001:db0:fff::/48
	{
		AdvRoutePreference high;
		AdvRouteLifetime 3600;
	};

#
# RDNSS
# NOTE: This feature is not very widely implemented.
#
	RDNSS 2001:db8::1 2001:db8::2
	{
		AdvRDNSSLifetime 30;
	};

#
# DNS Search Lists
#
	DNSSL branch.example.com example.com
	{
		AdvDNSSLLifetime 30;
	};


};

